<body>
  <h1>Square Root Results</h1>

  <dl>
    <dt>Number</dt>
      <dd><%= @num %></dd>
    <dt>Square Root</dt>
      <dd><%= @root %></dd>
  </dl>

  <a href="/square/new">Calculate another square</a>
</body>
